@model DoctorAppointmentBookingSystem.Dto.DoctorDto

@{
    ViewData["Title"] = "Doctor Details";
}

<h2>Doctor Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            UserName
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            Full Name
        </dt>
        <dd class="col-sm-10">
            @Model.FullName
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
        <dt class="col-sm-2">
            Date of Birth
        </dt>
        <dd class="col-sm-10">
            @Model.DateOfBirth.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            Gender
        </dt>
        <dd class="col-sm-10">
            @Model.Gender
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.DepartmentName
        </dd>
    </dl>
</div>

<div>
    <h4>Doctor Schedules</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day of the Week</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.DoctorSchedules)
            {
                <tr>
                    <td>@schedule.DayOfTheWeek</td>
                    <td>@schedule.StartTime.ToString(@"hh\:mm")</td>
                    <td>@schedule.EndTime.ToString(@"hh\:mm")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
